{
    "env": {
        "development": {
            "presets": [
                "es2015", "stage-0", "react"
            ]
        }
    },
    /* Add plugins here**/
    "plugins": ["babel-plugin-syntax-jsx"]
}