@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

h1, h2, h3, h4, h5 {
    font-family: 'Roboto';
}

.list {

    &--neutral {
        padding: 0;

        li {
            list-style: none;
        }

    }
}