<!DOCTYPE html>
<html>
  <head>
    <title>paasbox</title>
    <link rel="stylesheet" href="/css/main.css"></link>
  </head>
  <body style="padding-left: 262px;">
    <main id="app-root"></main>
    <script src="/js/bundle.js"></script>
  </body>
</html>