<!DOCTYPE html>
<html>
  <head>
    <title>paasbox</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body style="padding-left:262px;padding-right:8px">
    <main id="app-root"></main>
    <script src="/js/bundle.js"></script>
  </body>
</html>