{
    "plugins": [
        ["@babel/plugin-transform-runtime",
        {
            "polyfill": false,
            "regenerator": true
        }]
    ],
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "browsers": ["last 2 versions", "safari >= 7"]
            }
        }], 
        "@babel/preset-typescript", 
        "@babel/preset-react"
    ]
}